certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
pillow==12.2.0
pyqt6==6.11.0
pyqt6-qt6==6.11.0
pyqt6-sip==13.11.1
requests==2.33.1
typing-extensions==4.15.0
urllib3==2.7.0
winrt-runtime==3.2.1
winrt-windows-foundation==3.2.1
winrt-windows-foundation-collections==3.2.1
winrt-windows-media-control==3.2.1
winrt-windows-storage-streams==3.2.1
